@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Variables */
:root {
  /* primary */
  --o: hsl(39, 88%, 58%);
  --x: hsl(178, 50%, 48%);

  /* neutral */
  --DarkText: hsl(199, 35%, 19%);
  --firstText: hsl(198, 23%, 72%);
  --faintText: hsl(198, 15%, 45%);

  /* Background */
  --RadialGradient: hsl(202, 32%, 15%);
  --box-shadow-color: 0px 7px 0px hsl(204, 32%, 9%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  color: black;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--RadialGradient);
  font-family: 'Outfit', sans-serif;
}
.App {
  /* border: 1px solid red; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.XandO {
  font-size: 4rem;
  justify-content: center;
}
.x {
  color: var(--x);
}
.o {
  color: var(--o);
}
.pickplayer {
  border: 1px solid var(--DarkText);
  background-color: var(--DarkText);
  border-radius: 1.5rem;
}
.firsttext {
  color: var(--firstText);
  text-align: center;
  font-weight: 600;
}
.first-art {
  border: 1px solid var(--RadialGradient);
  background-color: var(--RadialGradient);
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 16rem;
}
.first-art p {
  border: 1px solid var(--firstText);
  background-color: var(--firstText);
  border-radius: 12px;
  color: var(--RadialGradient);
  font-size: 2rem;
  text-align: center;
}
.remin {
  color: var(--faintText);
  text-align: center;
  font-weight: 600;
}
.cpu,
.player {
  border: 1px solid red;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: var(--RadialGradient);
}
.linnk {
  text-decoration: none;
}
.cpu {
  border: 1px solid var(--o);
  background-color: var(--o);
}
.player {
  border: 1px solid var(--x);
  background-color: var(--x);
}
.sec-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 19rem;
}
.XandOo {
  margin-left: 0.8px !important;
  font-size: 3.5rem;
}
.div-one {
  border: 1px solid var(--DarkText);
  height: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: var(--DarkText);
  border-radius: 1rem;
  box-shadow: var(--box-shadow-color);
}
.div-one p {
  color: var(--firstText);
  text-align: center;
}
.oo {
  font-size: 30px;
}
.turn {
  margin-top: 12px;
  margin-left: -1.5rem !important;
}
.icon {
  border: 1px solid var(--firstText);
  color: var(--RadialGradient);
  background-color: var(--firstText);
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  border-radius: 1rem;
  width: 3.5rem;
  margin-left: 3rem !important;
  box-shadow: 0px 4px 0px var(--faintText);
}
.iconn {
  margin-top: -10px;
}
.sec-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.sec-two div,
.sec-three div {
  border-radius: 1rem;
}
.sec-two div {
  border: 1px solid var(--DarkText);
  background-color: var(--DarkText);
  padding: 1.4rem;
  box-shadow: var(--box-shadow-color);
}
.sec-three {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
  text-align: center;
}
.div-two {
  border: 1px solid var(--x);
  background-color: var(--x);
  height: 88%;
}
.div-p {
  margin-top: -2.7rem;
}
.div-three {
  border: 1px solid var(--firstText);
  background-color: var(--firstText);
  height: 88%;
}
.div-four {
  border: 1px solid var(--o);
  background-color: var(--o);
  height: 88%;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 500px;
  background-color: var(--DarkText);
}
.modal-body {
  text-align: center;
}
.modal-body p {
  color: var(--firstText);
  font-size: 1.5rem;
  font-weight: 600;
}
.sec-five {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  font-weight: 600;
}
.cancel {
  border: 1px solid var(--firstText);
  border-radius: 12px;
  background-color: var(--firstText);
  box-shadow: 0px 4px 0px var(--faintText);
  width: 70%;
}
.linnkk {
  color: black;
  text-decoration: none;
}
.restart {
  border: 1px solid var(--o);
  background-color: var(--o);
  border-radius: 12px;
  box-shadow: 0px 4px 0px orange;
  width: 70%;
}

@media (min-width: 768px) {
  .pickplayer {
    width: 30rem;
  }
  .first-art {
    width: 25rem;
    margin: auto;
  }
  .XandOo {
    font-weight: 700;
  }
  .icon {
    margin-left: 5rem !important;
  }
  .div-one {
    width: 9rem;
    margin-left: 4.5rem;
  }
  .modal-content {
    width: 1000px;
    margin-left: -15rem;
  }
  .modal-body p {
    font-size: 3rem;
    font-weight: 700;
  }
  .cancel {
    margin-left: 13.5rem !important;
  }
  .cancel,
  .restart {
    font-size: 18px;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .XandOo {
    font-weight: 700;
  }
  .icon,
  .sec-two div,
  .sec-five p,
  .first-art p {
    cursor: pointer;
  }
  .x-one:hover {
    color: var(--x);
    font-weight: 600;
  }
  .o-one:hover {
    color: var(--o);
    font-weight: 600;
  }
  .modal-content {
    width: 1500px;
    margin-left: -30rem;
  }
  .cancel {
    margin-left: 18rem !important;
  }
  .cancel,
  .restart {
    font-size: 20px;
  }
  .linnk:hover {
    font-weight: 700;
  }
  .iconn:hover {
    font-size: larger;
  }
}
